
.a {
    width: 450px;
  height: 300px;
  border: 2px solid white; 
}
.b {
    width: 450px;
    height: 112.5px;
    background-color: #00A9E0;
}
.c {
    width: 450px;
    height: 12.5px;
    background-color: white;
}
.d {
    width: 450px;
    height:  50px;
    border: black;
    background-color: black;
}
.e {
    width: 450px;
    height: 12.5px;
    background-color: white;
}
.f {
    width: 450px;
    height: 112.5px;
    background-color: #00A9E0;
}